<ul id="page_links">

  <li>
    {% if page.page_name == 'index' %}
      <span class="current_page">Home</span>
    {% else %}
      <a href="/" title="Home">Home</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'language' %}
      <span class="current_page">Language</span>
    {% else %}
      <a href="/language.html" title="Language">Language</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'schema' %}
      <span class="current_page">Schema</span>
    {% else %}
      <a href="/schema.html" title="Schema">Schema</a>
    {% endif %}
  </li>

</ul>
