<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="JSONScript: Scripted processing of existing endpoints and services">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/syntax.css">

    <title>{{page.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <a id="forkme_banner" href="https://github.com/JSONScript/jsonscript">View on GitHub</a>
      <header class="inner">
        <img id="project_logo" src="images/logo.png" width="128px" alt="JSONScript">
        <h2 id="project_tagline">Scripted processing of<br>existing endpoints and services</h1>

        {% include nav.html %}

      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">JSONScript maintained by <a href="https://github.com/JSONScript">JSONScript</a></p>
      </footer>
    </div>

  </body>
</html>
